<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bancsgocheat</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="index.html" class="navbar-brand"></a>
      </div>
      <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
      <input class="hidden" id="toggle-checkbox" type="checkbox">
      <div class="hidden-xs">
        <ul class="nav navbar-nav">
         <li><a href="../../index.html">完美</a></li>
         <li class="active"><a href="../5e.html">5e</a></li>
          <li><a href="../b5.html">b5</a></li>
          <li><a href="../of.html">官匹大哥</a></li>
        </ul>
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="hidden-xs list-group side-bar">
          <a href="../5e.html" class="list-group-item">嫌疑人</a>
          <a href="confirm.html" class="list-group-item">实锤作弊</a>
          <a href="controversial.html" class="list-group-item">争议较大</a>
          <a href="banned.html" class="list-group-item active">作弊封禁</a>
          <a href="remain.html" class="list-group-item">仍未封禁</a>
          <a href="dog.html" class="list-group-item">炸鱼狗</a>
          <a href="tk.html" class="list-group-item">恶意行为</a>
          <a href="bitch.html" class="list-group-item">谩骂骚扰</a>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="news-list">
          <div class="news-list-item clearfix">
            <div class="col-xs-5">
              <img src="../../2.jpg">
            </div>
            <div class="col-xs-7">
               <a href="https://www.bilibili.com/video/BV16N4y177QS/" class="title">嫌疑人视角：5E普通天梯2200分对局，感觉像微自瞄，下半场高能</a>
              <div class="info">
                <span>嫌疑人ID:小杰兽</span> ⋅
                <span>作弊封禁</span>
                 <span>作弊封禁</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-sm-3">
        <div class="side-bar-card flag clearfix">
          <div class="col-xs-5">
            <img src="../../img/1-1.png">
          </div>
          <div class="col-xs-7">
            <div class="text-lg">联系方式</div>
            <div>QQ群：335855648</div>
          </div>
        </div>
        <div class="side-bar-card">
          <div class="card-title">公告</div>
          <div class="card-body">
            <div class="list">
              <div class="item">
                <div class="title">发送Demo到811593681@qq.com或2016stevetang@gmail.com</div>
                <div class="desc">感谢支持</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
